* {
  box-sizing: border-box
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 1em;
}
body {
  cursor: pointer;
}
.ball {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
